/* BASIC */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: #e5e5e5;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 24px;
    color: #00eaff;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: #e5e5e5;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
}

.hero-text {
    max-width: 50%;
}

.hero img {
    width: 300px;
    border-radius: 50%;
    border: 4px solid #00eaff;
    box-shadow: 0 0 25px #00eaff;
}

/* BUTTONS */
.glow-btn {
    display: inline-block;
    padding: 12px 25px;
    color: black;
    background: #00eaff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

/* TITLES */
.section-title {
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    color: #ffcc00;
}

/* ABOUT */
.about-text {
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 1.6;
}

/* SKILLS */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    width: 70%;
}

.skill {
    background: #1a1a1a;
    border: 1px solid #00eaff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 80%;
    margin: 40px auto;
}

.project-card {
    background: #111;
    padding: 20px;
    border: 1px solid #00eaff;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00eaff;
}

/* CONTACT FORM */
.contact-form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid #444;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #222;
}
